html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  max-width: 540px;
  min-width: 320px;
  background: #eee;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #222;
  vertical-align: top;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: top;
}

em,
strong {
  font-style: normal;
}

input,
button,
select {
  border: 0;
  -webkit-appearance: none;
  outline: none;
  font-family: "Avenir", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

input::-webkit-input-placeholder {
  color: #666;
  font-family: "Avenir", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}













/*布局*/

.page-group,
.page {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  overflow: hidden;
}

.bar {
  position: absolute;
  right: 0;
  left: 0;
  z-index: 10;
  height: 3rem;
  background-color: #f7f7f8;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  line-height: 3rem;
}

.bar-nav {
  top: 0;
}

.bar-footer {
  bottom: 0;
}

.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eeeeee;
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, .3);
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding-top: 3rem;
}

.content::-webkit-scrollbar {
  display: none
}


.content-block {
  color: #6d6d72;
}

.content-block-title {
  position: relative;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  text-transform: uppercase;
  line-height: 1;
  color: #ffffff;
  margin: 1.75rem 0.75rem 0.5rem;
}

.panel {
  display: none;
  z-index: -1;
  position: absolute;
  top: 0;
  overflow-y: auto;
  background: #333;
  color: #fff;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  width: 16rem;
  height: 100%;
  font-size: .75rem;
}

.panel::-webkit-scrollbar {
  display: none
}

.panel a {
  color: #fff;
}

.panel.panel-left.panel-reveal {
  left: 0;
}

.panel-overlay {
  display: none;
  z-index: 5999;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 0;
}


.title {
  position: absolute;
  display: block;
  z-index: -1;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3rem;
  color: #3d4145;
  text-align: center;
  white-space: nowrap;
}

header .iconfont,
header span {
  z-index: 20;
  padding: 0 1rem;
  line-height: 3rem;
  font-size: 1.4rem;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

body.with-panel-left-reveal .page,
body.with-panel-right-reveal .page {
  -webkit-transition: 400ms;
  transition: 400ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

body.with-panel-left-reveal .page {
  -webkit-transform: translate3d(16rem, 0, 0);
  transform: translate3d(16rem, 0, 0);
}

body.with-panel-left-reveal .panel-overlay {
  margin-left: 16rem;
}

body.with-panel-left-reveal .panel-overlay,body.with-panel-left-reveal .panel-reveal{
  display: block;
}

.card {
  position: relative;
  overflow: hidden;
  background: #fff;
  margin:1rem 0.5rem;
  border-radius: .35rem;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3);
}


.button {
  border: 1px solid #777;
  color: #777;
  text-decoration: none;
  text-align: center;
  display: block;
  border-radius: 0.1rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  padding: 0 0.5rem;
  margin: 0;
  width: 100%;
  height: 1.5rem;
  white-space: nowrap;
  position: relative;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  font-family: inherit;
  cursor: pointer;
}

.button-fill {}

.button-success {
  background: #4cd964;
  border: none;
  color: #ffffff;
}

.button-warning {
  background: #ff6600;
  border: none;
  color: #ffffff;
}

.button-danger {
  background: #f6383a;
  border: none;
  color: #ffffff;
}

.row {
  overflow: hidden;
}

.row>[class*="col-"],
.row>[class*="tablet-"] {
  box-sizing: border-box;
  float: left;
}

.col-1 {
  width: 8.33333333%;
}

.col-2 {
  width: 16.66666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333333%;
}

.col-5 {
  width: 41.66666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333333%;
}

.col-8 {
  width: 66.66666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333%;
}

.col-11 {
  width: 91.6666667%;
}

.col-12 {
  width: 100%;
}


.list-block {}

.list-block ul {
  /*background: #fff;*/
}

.list-block li {
  box-sizing: border-box;
  position: relative;
}

.list-block .item-content {
  box-sizing: border-box;
  padding-left: 0.75rem;
  min-height: 2.2rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.list-block .item-media {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  box-sizing: border-box;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: 0.35rem;
  padding-bottom: 0.4rem;
}

.item-media img {
  width: 4rem;
}

.list-block .item-inner {
  display: block;
  padding-top: 0.5rem;
  padding-bottom: 0.45rem;
  margin-left: 0.75rem;
  -webkit-align-self: stretch;
  align-self: stretch;
  border-bottom: 1px solid #eee;
}

.list-block .item-inner {
  padding-right: 0.75rem;
  position: relative;
  width: 100%;
  padding-top: 0.4rem;
  padding-bottom: 0.35rem;
  min-height: 2.2rem;
  overflow: hidden;
  box-sizing: border-box;
}

.list-block.media-list .item-title-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.list-block.media-list .item-title {
  font-weight: 500;
}

.list-block .item-title {
  -webkit-flex-shrink: 1;
  -ms-flex: 0 1 auto;
  -webkit-flex-shrink: 1;
  flex-shrink: 1;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  font-size: .75rem;
}

.list-block .item-after {
  white-space: nowrap;
  color: #5f646e;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-left: 0.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  max-height: 1.4rem;
}

.list-block .item-text {
  font-size: 0.6rem;
  color: #5f646e;
  line-height: 1rem;
  position: relative;
  overflow: hidden;
  height: 3.1rem;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.list-block .item-text .edit {
  display: flex;
  flex-direction: column-reverse;
}

.edit a {
  padding: 0.15rem;
  font-size: 0.75rem
}


.size {
  padding: 0.02rem 0.25rem;
  background: #e6e6e6;
}

/*计数器*/

.count {}

.count .count-minus,
.count .count-plus,
.count .count-num {
  display: inline-block;
  background: #e6e6e6;
  width: 1rem;
  padding: 0;
  line-height: 0.75rem;
  text-align: center;
}

.count-minus {
  border-right: 1px solid #eee;
}

.count-plus {
  border-left: 1px solid #eee;
}


.list-group {}

.list-group li {
  height: 1.8rem;
  line-height: 1.8rem;
}

.list-group li a {
  display: block;
  padding-left: .75rem;
  color: #e0e0e0;
}

.list-group li a div {
  border-bottom: 1px solid #565656;
}

.list-group li a div span {
  margin-right: .45rem;
}

.form {
  padding: 0.75rem;
}

.field {
  margin-bottom: 0.75rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  padding: 0.2rem 0.5rem;
  width: 100%;
  height: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: .15rem;
  font-size: .7rem;
}

.field input[type="email"]:focus,
.field input[type="password"]:focus {
  border: 1px solid #bf5802;
}


.field,
.success,
.warning,
.danger {
  font-size: 0.6rem;
}

.success {
  color: green;
}

.warning {
  color: yellow;
}

.danger {
  color: red;
}

.field span {
  margin-left: 0.5rem;
}

/*靠左*/

.flex {
  display: -webkit-flex;
  display: flex;
}


/*遮罩层*/

.mask {
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  background: rgba(0, 0, 0, .5);
}

/*隐藏*/

.hidden {
  display: none !important;
}


/*提示框*/

.popup {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 40%;
  right: 0;
  left: 0;
  z-index: 101;
  margin: auto;
  width: 22rem;
  background: #fff;
  border-radius: 6px;
  text-align: center;
}

.popup-info {
  padding-top: 1rem;
  padding-bottom: .8rem;
}

.popup-btn button {
  width: 100%;
  background: #000;
  line-height: 3rem;
  color: #fff;
}



.flex-start {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
}

/*左对齐*/

.flex-end {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
}


/*右对齐*/

.center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
}

/*居中*/

.space-between {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
}

/*两端对齐，项目之间的间隔都相等。*/

.space-around {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
}



/*每个项目两侧的间隔相等。*/
